{% extends 'base.html' %}
{% block content %}
    <div class="content-section" style="max-width: 500px; margin: auto; padding: 1cm; border-radius: 10px; background-color:  #333; color: #fff;">
        <h2>Add Chapter to {{ book.title }}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group" style="padding: 50px;">
                <legend style="font-size: 1.5em; font-weight: bold; color: #fff;">Add Chapter</legend>
                <div class="form-group" style="width: 22.5em;">
                    <label for="{{ form.title.id_for_label }}" class="form-label" style="color: #fff;">Title:</label>
                    {{ form.title }}
                </div>
                <div class="form-group" style="width: 22.5em;">
                    <label for="{{ form.content.id_for_label }}" class="form-label" style="color: #fff;">content:</label>
                    {{ form.content }}
                </div>
                <div class="form-group" style="width: 22.5em;">
                    <label for="{{ form.pdf_file.id_for_label }}" class="form-label" style="color: #fff;">PDF File:</label>
                    {{ form.pdf_file }}
                </div>
            </fieldset>
            <button type="submit">Add Chapter</button>
        </form>
    </div>
{% endblock %}
