{% extends 'base.html' %}

{% block content %}
  <div class="content-section" style="max-width: 500px; margin: auto; padding: 1cm; border-radius: 10px; background-color:  #333; color: #fff;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group" style="padding: 50px;">
            <legend style="font-size: 1.5em; font-weight: bold; color: #fff;">
                {% if is_create %}
                    Create Book
                {% else %}
                    Update Book
                {% endif %}
            </legend>
            <div class="form-group" style="width: 22.5em;">
                <label for="title" class="form-label" style="color: #fff;">Title:</label>
                {{ form.title }}
            </div>
            <div class="form-group" style="width: 22.5em;">
                <label for="{{ form.publication_date.id_for_label }}" class="form-label" style="color: #fff;" type="Date">Publication Date:</label>
                <input type="date" name="{{ form.pub_date.html_name }}" class="form-control" id="{{ form.pub_date.auto_id }}" value="{{ form.pub_date.value|default:'' }}">
            </div>
            <div class="form-group" style="width: 22.5em;">
                <label for="{{ form.isbn.id_for_label }}" class="form-label" style="color: #fff;">ISBN:</label>
                {{ form.isbn }}
            </div>
            <div class="form-group" style="width: 22.5em;">
                <label for="{{ form.genres.id_for_label }}" class="form-label" style="color: #fff;">Genres:</label>
                {{ form.genre }}
            </div>
            <div class="form-group" style="width: 22.5em;">
                <label for="{{ form.contributors.id_for_label }}" class="form-label" style="color: #fff;">Contributors:</label>
                {{ form.contributors }}
            </div>      
            <div class="form-group" style="width: 22.5em;">
                <label for="{{ form.image.id_for_label }}" class="form-label" style="color: #fff;">Image:</label>
                {{ form.image }}
            </div>
            <div class="form-group" style="width: 22.5em;">
                <label for="{{ form.pdf_file.id_for_label }}" class="form-label" style="color: #fff;">PDF File:</label>
                {{ form.pdf_file }}
            </div>            
            <div>
                {% if is_create %}
                <label for="genres">Genres:</label><br>
                {% for genre in genres %}
                    <input type="checkbox" name="genres" value="{{ genre.id }}"> {{ genre.genre }}<br>
                {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group" style="margin-top: 20px; margin-bottom: -20px;">
            <button type="submit" style="background-color: #fff; color: #0d3d0e; border: none; padding: 10px 20px; border-radius: 5px; text-decoration: none;">
                {% if is_create %}
                    Create Book
                {% else %}
                    Update Book
                {% endif %}
            </button>
        </div>
    </form>
  </div>
{% endblock %}
